*:80 {
  tls off
  basicauth "USERNAME_PLACEHOLDER" PASSWORD_PLACEHOLDER {
    /home
    /kibana
    /elasticsearch
    /control-plane
    /elasticsearch-head
  }
  redir /home /home/
  redir /kibana /kibana/
  redir /iglu-server /iglu-server/
  redir /elasticsearch-head /elasticsearch-head/

  proxy / localhost:8080

  proxy /home localhost:3000 {
    without /home
  }

  proxy /kibana localhost:5601 {
    without /kibana
  }

  proxy /iglu-server localhost:8081 {
    without /iglu-server
  }
  proxy /api localhost:8081

  proxy /elasticsearch localhost:9200 {
    without /elasticsearch
  }
  
  proxy /elasticsearch-head localhost:3001 {
    without /elasticsearch-head
  }

  proxy /control-plane localhost:10000 {
    without /control-plane
  }
}

*:3001 {
  root /home/ubuntu/snowplow/elasticsearch/elasticsearch-head
}

*:3000 {
  root /home/ubuntu/snowplow/ui
}
